* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

header,
section,
footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

header {
  height: 40px;
  background-color: #000;
  color: #fff;
}

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  height: 40px;
  margin: 0 auto;
}

.nav p {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.nav p span {
  color: #27c7ab;
  font-weight: 700;
}



/* NAV MENU */

.nav ul.menu {
  display: flex;
  width: 290px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.nav ul li:first-child {
  position: relative;
}

.nav .nav_list .nav_item {
  font-size: 14px;
  padding: 10px 0 10px 10px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  display: block;
}

.dropdown {
  position: absolute;
  top: 49px;
  left: -20px;
  width: 120px;
  /* height: 100px; */
  padding: 10px 13px 0 13px;
  background-color: #000;
  color: white;
}

.dropdown::before {
  display: block;
  content: '';
  position: absolute;
  top: -11px;
  left: 47px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 16px solid #000;
}

.dropdown .dropdown_list {
  list-style: none;
}

.dropdown .dropdown_list .dropdown_item {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0 0 10px;
  font-size: 16px;
  font-weight: 300;
}